* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


h1 {
    text-align: center;
    padding: 25px;
}

.body {
    text-align: center;
    margin: auto;
}

.col {
    padding: 25px;
}


